body {
    font-family: sans-serif;
    font-weight: 100;
    background-color: #CCC;
}

h1 {
    text-align: center;
    color: #666;
    text-shadow: 0px 2px 0px #FFF;
}

.nombre {
    font-size: 18px;
}

.curso {
    font-style: italic;
    font-size: 13px;
}

.wrapper {
    width: 650px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #555;
    background-color: #FFF;
    border-radius: 15px;
    padding: 10px;
}

.contact-items {
    border-bottom: thin solid #CCC;
    padding: 10px;
}
