<!Doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8" />
    <title>Hello Angular</title>
</head>
<body ng-controller="AlumnoController">
    Este archivo fue creado por {{alumno.nombre}}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" ></script>
    <script type="text/javascript">
       function AlumnoController ($scope) {
           $scope.alumno = {
               nombre: "Kaito",
               curso: "DAM"
           };
       }
    </script>
</body>
</html>
