<!Doctype>
<html>
<head>
    <title>Contactanos</title>
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background­color: red;
            color: white;
            display: block;
            font­size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
        label {
            display: block;
            margin-top: 30px;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1>Contact us</h1>

 {% if form.errors %}
    <p style="color: red;">
    Por favor corrige lo siguiente:
    </p>
{% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="field">
            {{ form.reason.errors }}
                <label for="id_reason">Reason:</label>
            {{ form.reason }}
        </div>

        <div class="field">
            {{ form.email.errors }}
               <label for="id_email">email:</label>
           {{ form.email }}
        </div>

        <div class="field">
            {{ form.message.errors }}
                <label for="id_message">Message:</label>
            {{ form.message }}
        </div>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>