<!DOCTYPE>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="AlumnosController">
    <h1>Cuaderno alumnos</h1>
    <div class="wrapper">
        <div class="contact-item" ng-repeat="alumno in alumnos | orderBy: 'nombre'">
            <div class="nombre">{{alumno.nombre}} - {{alumno.telefono}}</div>
            <span class="curso">{{alumno.curso}} </span>
        </div>
    </div>
    <center>
        <button ng-click="ShowForm()" ng-hide="formVisibility">Añadir</button>
    </center>
    <div ng-show="formVisibility" class="wrapper">
        <h2>Añadir contacto</h2>
        <label>Nombre:</label>
        <input type="text" ng-model="nuevoAlumno.nombre"></input>
        <br />
        <label>Telefono:</label>
        <input type="text" ng-model="nuevoAlumno.telefono"></input>
        <br />
        <label>Curso:</label>
        <input type="text" ng-model="nuevoAlumno.curso"></input><br />
        <button ng-click="Save()">Guardar</button>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>