.wrapper {
    position: relative;
    height: 100px;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    left: 0px;

    transition-property: left, background, border;
    transition-duration: 2s, 3s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.wrapper:hover .ball {
    left: 90%;
    background: black;
    border: solid 2px red;
}