.circle {
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
    border-color: #3A3 #A33 #399 #AA3;
    border-radius: 50%;

    animation-name: leftRight;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes leftRight {
    from{transform: translateX(0px) rotate(0);}
    to {transform: translateX(0px) rotate(1turn);}
}